#bgcanvas{
    display:block;
/*    margin:0 auto;*/
    background-color:rgba(255,255,255,0.5); 
}
#controller{
    margin:10px auto;
}

/*.op_btn{
    float: right;
    margin:10px 0 0 10px;
    border:2px solid #aaa;
    width:80px;
    height:40px;
    line-height:40px;
    font-size:20px;
    text-align:center;
    border-radius: 5px 5px;
    cursor:pointer;
    background-color: white;
    font-weight:bold;
    font-family: Microsoft Yahei, Arial;
}
.op_btn:hover{
    background-color:#def;
}*/
.clearfix{
    clear:both;
}

.color_btn{
/*    border:5px solid white;*/
    height:30px;
    border-radius: 5px 5px;
    cursor:pointer;
}
/*.color_btn:hover{
    border: 5px solid violet;
    box-shadow: 0px 0px 7px 3px rgba(255,255,255,1);
}*/
.color_btn_selected{
/*    border: 5px solid blueviolet;*/
    border:5px solid rgba(255,255,255,0.8);
    position: relative;
    top:-5px;
}
/*#black_btn{
    background-color: black;
}*/
/*#blue_btn{
    background-color: blue;
}*/
/*#green_btn{
    background-color: green;
}
#red_btn{
    background-color: red;
}*/
/*#orange_btn{
    background-color: orange;
}
#yellow_btn{
    background-color: yellow;
}*/

.btn:focus,
.btn.focus {
    outline: 0px;
}